<div ng-controller="MainCtrl">

{{ name }}

  <h2> MeetServer.test =  <%= name %> </h2>

<%= sails.config.AppLocals.title %>

<h3> <%= __('Welcome') %> </h3>

<%- partial('../partials/test.ejs') %>

</div>
