<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.AppLocals.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--STYLES-->
	<link rel="stylesheet" href="/styles/importer.css">
	<!--STYLES END-->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  </head>

  <body ng-cloak ng-app="appName">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" muse_scanned="true">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" muse_scanned="true">Home</a></li>
            <li><a href="/user" muse_scanned="true">User</a></li>
            <li><a ui-sref="strap" muse_scanned="true">Strap</a></li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" muse_scanned="true">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="chat.start" muse_scanned="true">Chat</a></li>
                <li><a href="#" muse_scanned="true">Another action</a></li>
                <li><a href="#" muse_scanned="true">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#" muse_scanned="true">Separated link</a></li>
                <li><a href="#" muse_scanned="true">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!-- /Fixed nav -->

    <ui-view></ui-view>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls.js"></script>
    <script src="/js/dependencies/ui-bootstrap.js"></script>
    <script src="/js/00-components/angular/angular.js"></script>
    <script src="/js/00-components/angular/angular.min.js"></script>
    <script src="/js/00-components/jquery/dist/jquery.js"></script>
    <script src="/js/00-components/jquery/dist/jquery.min.js"></script>
    <script src="/js/00-components/jquery/src/ajax.js"></script>
    <script src="/js/00-components/jquery/src/ajax/jsonp.js"></script>
    <script src="/js/00-components/jquery/src/ajax/load.js"></script>
    <script src="/js/00-components/jquery/src/ajax/parseJSON.js"></script>
    <script src="/js/00-components/jquery/src/ajax/parseXML.js"></script>
    <script src="/js/00-components/jquery/src/ajax/script.js"></script>
    <script src="/js/00-components/jquery/src/ajax/var/nonce.js"></script>
    <script src="/js/00-components/jquery/src/ajax/var/rquery.js"></script>
    <script src="/js/00-components/jquery/src/ajax/xhr.js"></script>
    <script src="/js/00-components/jquery/src/attributes.js"></script>
    <script src="/js/00-components/jquery/src/attributes/attr.js"></script>
    <script src="/js/00-components/jquery/src/attributes/classes.js"></script>
    <script src="/js/00-components/jquery/src/attributes/prop.js"></script>
    <script src="/js/00-components/jquery/src/attributes/support.js"></script>
    <script src="/js/00-components/jquery/src/attributes/val.js"></script>
    <script src="/js/00-components/jquery/src/callbacks.js"></script>
    <script src="/js/00-components/jquery/src/core.js"></script>
    <script src="/js/00-components/jquery/src/core/access.js"></script>
    <script src="/js/00-components/jquery/src/core/init.js"></script>
    <script src="/js/00-components/jquery/src/core/parseHTML.js"></script>
    <script src="/js/00-components/jquery/src/core/ready.js"></script>
    <script src="/js/00-components/jquery/src/core/var/rsingleTag.js"></script>
    <script src="/js/00-components/jquery/src/css.js"></script>
    <script src="/js/00-components/jquery/src/css/addGetHookIf.js"></script>
    <script src="/js/00-components/jquery/src/css/curCSS.js"></script>
    <script src="/js/00-components/jquery/src/css/defaultDisplay.js"></script>
    <script src="/js/00-components/jquery/src/css/hiddenVisibleSelectors.js"></script>
    <script src="/js/00-components/jquery/src/css/support.js"></script>
    <script src="/js/00-components/jquery/src/css/swap.js"></script>
    <script src="/js/00-components/jquery/src/css/var/cssExpand.js"></script>
    <script src="/js/00-components/jquery/src/css/var/getStyles.js"></script>
    <script src="/js/00-components/jquery/src/css/var/isHidden.js"></script>
    <script src="/js/00-components/jquery/src/css/var/rmargin.js"></script>
    <script src="/js/00-components/jquery/src/css/var/rnumnonpx.js"></script>
    <script src="/js/00-components/jquery/src/data.js"></script>
    <script src="/js/00-components/jquery/src/data/Data.js"></script>
    <script src="/js/00-components/jquery/src/data/accepts.js"></script>
    <script src="/js/00-components/jquery/src/data/var/data_priv.js"></script>
    <script src="/js/00-components/jquery/src/data/var/data_user.js"></script>
    <script src="/js/00-components/jquery/src/deferred.js"></script>
    <script src="/js/00-components/jquery/src/deprecated.js"></script>
    <script src="/js/00-components/jquery/src/dimensions.js"></script>
    <script src="/js/00-components/jquery/src/effects.js"></script>
    <script src="/js/00-components/jquery/src/effects/Tween.js"></script>
    <script src="/js/00-components/jquery/src/effects/animatedSelector.js"></script>
    <script src="/js/00-components/jquery/src/event.js"></script>
    <script src="/js/00-components/jquery/src/event/ajax.js"></script>
    <script src="/js/00-components/jquery/src/event/alias.js"></script>
    <script src="/js/00-components/jquery/src/event/support.js"></script>
    <script src="/js/00-components/jquery/src/exports/amd.js"></script>
    <script src="/js/00-components/jquery/src/exports/global.js"></script>
    <script src="/js/00-components/jquery/src/intro.js"></script>
    <script src="/js/00-components/jquery/src/jquery.js"></script>
    <script src="/js/00-components/jquery/src/manipulation.js"></script>
    <script src="/js/00-components/jquery/src/manipulation/_evalUrl.js"></script>
    <script src="/js/00-components/jquery/src/manipulation/support.js"></script>
    <script src="/js/00-components/jquery/src/manipulation/var/rcheckableType.js"></script>
    <script src="/js/00-components/jquery/src/offset.js"></script>
    <script src="/js/00-components/jquery/src/outro.js"></script>
    <script src="/js/00-components/jquery/src/queue.js"></script>
    <script src="/js/00-components/jquery/src/queue/delay.js"></script>
    <script src="/js/00-components/jquery/src/selector-native.js"></script>
    <script src="/js/00-components/jquery/src/selector-sizzle.js"></script>
    <script src="/js/00-components/jquery/src/selector.js"></script>
    <script src="/js/00-components/jquery/src/serialize.js"></script>
    <script src="/js/00-components/jquery/src/sizzle/dist/sizzle.js"></script>
    <script src="/js/00-components/jquery/src/sizzle/dist/sizzle.min.js"></script>
    <script src="/js/00-components/jquery/src/traversing.js"></script>
    <script src="/js/00-components/jquery/src/traversing/findFilter.js"></script>
    <script src="/js/00-components/jquery/src/traversing/var/rneedsContext.js"></script>
    <script src="/js/00-components/jquery/src/var/arr.js"></script>
    <script src="/js/00-components/jquery/src/var/class2type.js"></script>
    <script src="/js/00-components/jquery/src/var/concat.js"></script>
    <script src="/js/00-components/jquery/src/var/hasOwn.js"></script>
    <script src="/js/00-components/jquery/src/var/indexOf.js"></script>
    <script src="/js/00-components/jquery/src/var/pnum.js"></script>
    <script src="/js/00-components/jquery/src/var/push.js"></script>
    <script src="/js/00-components/jquery/src/var/rnotwhite.js"></script>
    <script src="/js/00-components/jquery/src/var/slice.js"></script>
    <script src="/js/00-components/jquery/src/var/strundefined.js"></script>
    <script src="/js/00-components/jquery/src/var/support.js"></script>
    <script src="/js/00-components/jquery/src/var/toString.js"></script>
    <script src="/js/00-components/jquery/src/wrap.js"></script>
    <script src="/js/00-components/ui-router/release/angular-ui-router.js"></script>
    <script src="/js/00-components/ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/00-components/ui-router/src/common.js"></script>
    <script src="/js/00-components/ui-router/src/resolve.js"></script>
    <script src="/js/00-components/ui-router/src/state.js"></script>
    <script src="/js/00-components/ui-router/src/stateDirectives.js"></script>
    <script src="/js/00-components/ui-router/src/stateFilters.js"></script>
    <script src="/js/00-components/ui-router/src/templateFactory.js"></script>
    <script src="/js/00-components/ui-router/src/urlMatcherFactory.js"></script>
    <script src="/js/00-components/ui-router/src/urlRouter.js"></script>
    <script src="/js/00-components/ui-router/src/view.js"></script>
    <script src="/js/00-components/ui-router/src/viewDirective.js"></script>
    <script src="/js/00-components/ui-router/src/viewScroll.js"></script>
    <script src="/js/app/001-start.js"></script>
    <script src="/js/app/chat/controllers.js"></script>
    <script src="/js/app/chat/routes.js"></script>
    <script src="/js/app/strap/controller.js"></script>
    <script src="/js/app/strap/route.js"></script>
    <script src="/js/app/user/controllers.js"></script>
    <script src="/js/app/user/route.js"></script>
    <script src="/js/config.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
