<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.AppLocals.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  </head>

  <body ng-cloak ng-app="appName">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" muse_scanned="true">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" muse_scanned="true">Home</a></li>
            <li><a href="#about" muse_scanned="true">About</a></li>
            <li><a href="#contact" muse_scanned="true">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" muse_scanned="true">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" muse_scanned="true">Action</a></li>
                <li><a href="#" muse_scanned="true">Another action</a></li>
                <li><a href="#" muse_scanned="true">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#" muse_scanned="true">Separated link</a></li>
                <li><a href="#" muse_scanned="true">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!-- /Fixed nav -->

    <ui-view></ui-view>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls.js"></script>
    <script src="/js/dependencies/ui-bootstrap.js"></script>
    <script src="/js/app/001-start.js"></script>
    <script src="/js/app/chat/controllers.js"></script>
    <script src="/js/app/chat/routes.js"></script>
    <script src="/js/app/strap/controller.js"></script>
    <script src="/js/app/strap/route.js"></script>
    <script src="/js/app/user/controllers.js"></script>
    <script src="/js/app/user/route.js"></script>
    <script src="/js/config.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
