
<div class="row">
    <div class="col-xs-4">
        <form ng-submit="input.send()" name="chatForm">

            <textarea ng-model="input.message" id="" cols="30" rows="4"
                      ng-required="true"
                      ng-pattern="/[a-z0-9\s]+/"
                      ng-minlength="8"></textarea>

            <div class="btn-group" role="group" aria-label="">
                <button type="sunmit" class="btn btn-default"
                        ng-class="{disabled : chatForm.$invalid}"
                        >Send</button>
            </div>

        </form>
    </div>

    <div class="col-xs-4">
        <ul class="list-group">
            <li ng-repeat="chat in data.chats"
                class="list-group-item">
                <a href="" ng-click="input.delete($index, $event)">{{ ::chat.message }}</a>
                </li>
        </ul>
    </div>

</div>